In [1]:
import pandas as pd

In [2]:
gameDat_study1 = pd.read_csv('gameDat_study1.csv',index_col=0)
gameDat_study1.head()

,sub,subID,Block,Player,Type,Variant,Type_Total,Trial,S,T,GameType,Colors,CorrAns,GivenAns,ConfidenceNum,ScoreNum,RT_radio,RT_submit,SelfReport
0,3,2003,0,G.P.,opt,nat,opt_nat,0,3,12,PD,"['Blue', 'Red']",def,def,70,1,10439,14310,maximize own score
1,3,2003,0,G.P.,opt,nat,opt_nat,1,7,8,HG,"['Blue', 'Red']",coop,coop,80,1,5259,8262,maximize own score
2,3,2003,0,G.P.,opt,nat,opt_nat,2,3,8,SH,"['Blue', 'Red']",coop,coop,80,1,2764,5519,maximize own score
3,3,2003,0,G.P.,opt,nat,opt_nat,3,7,12,SG,"['Blue', 'Red']",def,def,80,1,4497,7794,maximize own score
4,3,2003,0,G.P.,opt,nat,opt_nat,4,0,15,PD,"['Blue', 'Red']",def,def,70,1,12523,16207,maximize own score

In [3]:
gameDat_study2 = pd.read_csv('gameDat_study2.csv',index_col=0)
gameDat_study2.head()

,sub,subID,Block,Player,Type,Variant,Type_Total,Trial,S,T,GameType,Colors,CorrAns,GivenAns,ConfidenceNum,ScoreNum,RT_radio,RT_submit,SelfReport
0,5,5005,0,N.N.,opt,nat,opt_nat,0,0,12,PD,"['Not', 'Defined']",def,def,86,1,8631,10443,not defined
1,5,5005,0,N.N.,opt,nat,opt_nat,1,7,5,HG,"['Not', 'Defined']",coop,coop,70,1,3639,5183,not defined
2,5,5005,0,N.N.,opt,nat,opt_nat,2,10,12,SG,"['Not', 'Defined']",def,coop,52,0,4796,6608,not defined
3,5,5005,0,N.N.,opt,nat,opt_nat,3,3,5,SH,"['Not', 'Defined']",coop,def,52,0,3840,5502,not defined
4,5,5005,0,N.N.,opt,nat,opt_nat,4,0,8,SH,"['Not', 'Defined']",coop,coop,54,1,3806,6322,not defined

In [6]:
gameDat_study4 = pd.read_csv('gameDat_study4.csv',index_col=0)
gameDat_study4 = gameDat_study4.drop(columns = ['worker','assignment','ScoreCumulBlock'])
gameDat_study4.head()

,sub,subID,Block,Player,Type,Variant,Type_Total,Trial,S,T,GameType,Colors,CorrAns,GivenAns,ConfidenceNum,ScoreNum,RT_radio,RT_submit,SelfReport
0,1,6001,0,n.a.,pess,nat,pess_nat,0,7,15,SG,n.a.,coop,coop,50.0,1,34851.0,38989.0,n.a.
1,1,6001,0,n.a.,pess,nat,pess_nat,1,3,15,PD,n.a.,def,def,50.0,1,20870.0,24642.0,n.a.
2,1,6001,0,n.a.,pess,nat,pess_nat,2,3,8,SH,n.a.,def,def,50.0,1,7268.0,9664.0,n.a.
3,1,6001,0,n.a.,pess,nat,pess_nat,3,7,5,HG,n.a.,coop,coop,70.0,1,8997.0,11736.0,n.a.
4,1,6001,0,n.a.,pess,nat,pess_nat,4,10,15,SG,n.a.,coop,coop,60.0,1,5880.0,8617.0,n.a.

In [7]:
gameDat_total = gameDat_study1.append(gameDat_study2).append(gameDat_study4)
gameDat_total.head()

,sub,subID,Block,Player,Type,Variant,Type_Total,Trial,S,T,GameType,Colors,CorrAns,GivenAns,ConfidenceNum,ScoreNum,RT_radio,RT_submit,SelfReport
0,3,2003,0,G.P.,opt,nat,opt_nat,0,3,12,PD,"['Blue', 'Red']",def,def,70.0,1,10439.0,14310.0,maximize own score
1,3,2003,0,G.P.,opt,nat,opt_nat,1,7,8,HG,"['Blue', 'Red']",coop,coop,80.0,1,5259.0,8262.0,maximize own score
2,3,2003,0,G.P.,opt,nat,opt_nat,2,3,8,SH,"['Blue', 'Red']",coop,coop,80.0,1,2764.0,5519.0,maximize own score
3,3,2003,0,G.P.,opt,nat,opt_nat,3,7,12,SG,"['Blue', 'Red']",def,def,80.0,1,4497.0,7794.0,maximize own score
4,3,2003,0,G.P.,opt,nat,opt_nat,4,0,15,PD,"['Blue', 'Red']",def,def,70.0,1,12523.0,16207.0,maximize own score

In [8]:
gameDat_total.shape

(25792, 19)

In [12]:
150*64 + 50*128 + 153*64

25792

It checks out.

In [13]:
gameDat_total.to_csv('gameDat_total.csv')